Repository natlas/natlas, pull requests merged in 2019-11, with the labels that each got.

#212 Add SentryIo integration for centralized error tracking
  natlas-agent/README.md
  natlas-agent/config.py
  natlas-agent/natlas-agent.py
  natlas-agent/natlas/error_reporting.py
  natlas-agent/natlas/threadscan.py
  natlas-agent/requirements.txt
  natlas-server/README.md
  natlas-server/app/__init__.py
  natlas-server/config.py
  natlas-server/entrypoint.sh
  natlas-server/requirements.txt
Labels: agent, server

#214 Flake8 cleanup of natlas-server
  .codeclimate.yml
  .flake8
  natlas-server/add-scope.py
  natlas-server/add-user.py
  natlas-server/app/__init__.py
  natlas-server/app/admin/__init__.py
  natlas-server/app/admin/forms.py
  natlas-server/app/admin/routes.py
  natlas-server/app/api/__init__.py
  natlas-server/app/api/prepare_work.py
  natlas-server/app/api/processing/screenshot.py
  natlas-server/app/api/processing/ssl.py
  natlas-server/app/api/rescan_handler.py
  natlas-server/app/api/routes.py
  natlas-server/app/auth/__init__.py
  natlas-server/app/auth/email.py
  natlas-server/app/auth/forms.py
  natlas-server/app/auth/routes.py
  natlas-server/app/auth/wrappers.py
  natlas-server/app/cyclicprng.py
  natlas-server/app/elastic.py
  natlas-server/app/email.py
  natlas-server/app/errors/__init__.py
  natlas-server/app/errors/handlers.py
  natlas-server/app/filters.py
  natlas-server/app/ipscanmanager.py
  natlas-server/app/main/__init__.py
  natlas-server/app/main/forms.py
  natlas-server/app/main/routes.py
  natlas-server/app/models.py
  natlas-server/app/scope.py
  natlas-server/app/user/__init__.py
  natlas-server/app/user/forms.py
  natlas-server/app/user/routes.py
  natlas-server/app/util.py
  natlas-server/config.py
  natlas-server/elastic-snapshot.py
  natlas-server/natlas-server.py
Labels: refactor, server

#222 Elastic changes
  natlas-server/README.md
  natlas-server/app/__init__.py
  natlas-server/app/admin/forms.py
  natlas-server/app/admin/routes.py
  natlas-server/app/api/prepare_work.py
  natlas-server/app/api/routes.py
  natlas-server/app/elastic.py
  natlas-server/app/elastic/__init__.py
  natlas-server/app/elastic/client.py
  natlas-server/app/elastic/interface.py
  natlas-server/app/errors/handlers.py
  natlas-server/app/host/routes.py
  natlas-server/app/host/summarizers.py
  natlas-server/app/main/pagination.py
  natlas-server/app/main/routes.py
  natlas-server/app/templates/admin/index.html
  natlas-server/app/templates/errors/500.html
  natlas-server/app/templates/errors/503.html
  natlas-server/app/templates/includes/nav.html
  natlas-server/app/templates/main/_host_collection.html
  natlas-server/app/templates/main/browse.html
  natlas-server/app/templates/main/screenshots.html
  natlas-server/app/templates/main/search.html
  natlas-server/config.py
Labels: refactor, server

#233 Add OpenCensus-based request tracing
  natlas-server/README.md
  natlas-server/app/__init__.py
  natlas-server/app/elastic/client.py
  natlas-server/app/elastic/interface.py
  natlas-server/app/instrumentation/__init__.py
  natlas-server/app/instrumentation/sentryio_middleware.py
  natlas-server/config.py
  natlas-server/natlas-server.py
  natlas-server/requirements.txt
Labels: server

#237 Update external links to open in new tab/window
  natlas-server/app/templates/host/versions/0.6.3/_port-info.html
  natlas-server/app/templates/host/versions/0.6.4/_port-info.html
  natlas-server/app/templates/host/versions/0.6.5/_port-info.html
  natlas-server/app/templates/host/versions/0.6.6/_port-info.html
  natlas-server/app/templates/host/versions/0.6.7/_port-info.html
  natlas-server/app/templates/includes/footer.html
  natlas-server/app/templates/includes/nav.html
Labels: server

#236 Refactor database models
  natlas-server/app/admin/routes.py
  natlas-server/app/auth/email.py
  natlas-server/app/auth/routes.py
  natlas-server/app/models.py
  natlas-server/app/models/__init__.py
  natlas-server/app/models/agent.py
  natlas-server/app/models/agent_config.py
  natlas-server/app/models/agent_script.py
  natlas-server/app/models/config_item.py
  natlas-server/app/models/dict_serializable.py
  natlas-server/app/models/email_token.py
  natlas-server/app/models/natlas_services.py
  natlas-server/app/models/rescan_task.py
  natlas-server/app/models/scope_item.py
  natlas-server/app/models/tag.py
  natlas-server/app/models/user.py
Labels: refactor, server

#243 Update setuptools requirements
  natlas-server/Dockerfile
  natlas-server/requirements.txt
Labels: server

#241 Initial swagger spec for agent communication protocol
  spec/swagger.yaml
Labels: documentation

#239 Scope refactoring.
  natlas-server/app/admin/routes.py
  natlas-server/app/api/prepare_work.py
  natlas-server/app/api/rescan_handler.py
  natlas-server/app/api/routes.py
  natlas-server/app/host/routes.py
  natlas-server/app/scope/__init__.py
  natlas-server/app/scope/cyclicprng.py
  natlas-server/app/scope/ipscanmanager.py
  natlas-server/app/scope/scope.py
Labels: refactor, server
