Repository natlas/natlas, pull requests merged in 2020-08, with the labels that each got.

#357 Scope Manager Updates
  natlas-server/app/__init__.py
  natlas-server/app/admin/routes.py
  natlas-server/app/api/routes.py
  natlas-server/app/scope/scan_group.py
  natlas-server/app/scope/scan_manager.py
  natlas-server/app/scope/scope_collection.py
  natlas-server/app/scope/scope_manager.py
  natlas-server/tests/scope/test_scan_manager.py
  natlas-server/tests/scope/test_scope_manager.py
Labels: refactor, server

#374 Fix: Incorrect column lengths for email and password_reset_token
  natlas-server/app/models/user.py
  natlas-server/app/models/user_invitation.py
  natlas-server/migrations/versions/6eb79ba67acb_better_invitations_and_resets.py
  natlas-server/migrations/versions/ed2f92f790d3_users_table.py
Labels: server

#362 Updating documentation
  .github/ISSUE_TEMPLATE/bug_report_agent.md
  .github/ISSUE_TEMPLATE/bug_report_server.md
  .github/ISSUE_TEMPLATE/feature_request_agent.md
  .github/ISSUE_TEMPLATE/feature_request_server.md
  .github/ISSUE_TEMPLATE/support_request.md
  README.md
  SECURITY.md
  natlas-agent/README.md
  natlas-server/README.md
  natlas-server/deployment/nginx
Labels: documentation

#367 Fix: Ignore malformed dates from ssl certs.
  natlas-server/defaults/elastic/mapping.json
Labels: server

#408 Switch to EnvironmentPlugin format
  natlas-server/app/static/global.d.ts
  natlas-server/app/static/util/version-check.ts
  natlas-server/package.json
Labels: server

#401 Fix: Initial database population is now part of migrations instead of…
  natlas-server/app/__init__.py
  natlas-server/app/config_loader.py
  natlas-server/migrations/versions/09ac195ca9c7_better_agent_config_control.py
  natlas-server/migrations/versions/3fb710fe0fe1_configitem_table.py
  natlas-server/migrations/versions/571892d95516_agent_config_table.py
  natlas-server/migrations/versions/7d9abd1be32c_natlasservices_table.py
Labels: critical, server

#409 Change: Default MAIL_USE_TLS to True (secure by default), update docs
  natlas-server/README.md
  natlas-server/config.py
Labels: documentation, server

#421 Fix: Don't echo huge xml files to aquatone
  natlas-agent/natlas/screenshots.py
  natlas-agent/natlas/threadscan.py
Labels: agent

#424 Release: v0.6.11
  CHANGELOG.md
  natlas-agent/config.py
  natlas-server/app/templates/host/versions/0.6.11/_header.html
  natlas-server/app/templates/host/versions/0.6.11/_host-export.html
  natlas-server/app/templates/host/versions/0.6.11/_host-row-history.html
  natlas-server/app/templates/host/versions/0.6.11/_host-row.html
  natlas-server/app/templates/host/versions/0.6.11/_host-status.html
  natlas-server/app/templates/host/versions/0.6.11/_imagemodal.html
  natlas-server/app/templates/host/versions/0.6.11/_port-info.html
  natlas-server/app/templates/host/versions/0.6.11/history.html
  natlas-server/app/templates/host/versions/0.6.11/screenshots.html
  natlas-server/app/templates/host/versions/0.6.11/summary.html
  natlas-server/config.py
Labels: agent, documentation, server

#437 Fixed: Scope import CLI command inversion
  natlas-server/app/cli/scope.py
  natlas-server/tests/cli/conftest.py
  natlas-server/tests/cli/test_scope_cli.py
Labels: server

#438 Fixed: Can now export scope from cli when items are tagged
  natlas-server/app/cli/scope.py
  natlas-server/app/models/scope_item.py
  natlas-server/tests/cli/test_scope_cli.py
Labels: server

#447 Doc: Add documentation for SENTRY_ENVIRONMENT
  natlas-agent/README.md
  natlas-server/README.md
Labels: documentation

#445 feat(sentry)(agent): Improve how exceptions are handled for Sentry in the agent
  natlas-agent/natlas/error_reporting.py
  natlas-agent/natlas/threadscan.py
Labels: agent

#448 Fixed: Elasticsearch request error bubbles up to show the user what's wrong
  natlas-server/app/errors/__init__.py
  natlas-server/app/errors/errors.py
  natlas-server/app/errors/handlers.py
  natlas-server/app/errors/responses.py
  natlas-server/app/main/routes.py
  natlas-server/app/templates/errors/search.html
  natlas-server/tests/conftest.py
  natlas-server/tests/test_errors.py
Labels: server

#450 Fix: Validate IP addresses in app routes via custom converter
  natlas-server/app/__init__.py
  natlas-server/app/host/routes.py
  natlas-server/app/url_converters.py
  natlas-server/tests/test_url_converters.py
Labels: server

#459 Change: Query for overlapping scope items faster than string comparisons
  natlas-server/app/api/prepare_work.py
  natlas-server/app/models/scope_item.py
  natlas-server/migrations/versions/7099debf8cda_store_start_addr_and_stop_addr_as_.py
Labels: server
