Repository natlas/natlas, pull requests merged in 2020-04, with the labels that each got.

#250 Updated Pillow version to fix CVE-2020-5313 and CVE-2019-19911
  natlas-server/requirements.txt
Labels: dependencies, security

#254 Switch to Webpack compilation for JS/CSS
  .codeclimate.yml
  .gitignore
  docker-compose.yml
  natlas-server/.dockerignore
  natlas-server/.eslintrc.yml
  natlas-server/Dockerfile
  natlas-server/README.md
  natlas-server/app/__init__.py
  natlas-server/app/admin/forms.py
  natlas-server/app/static/controls/natlas-tagging.ts
  natlas-server/app/static/controls/user-profile.ts
  natlas-server/app/static/css/all.css
  natlas-server/app/static/css/bootstrap.min.css
  natlas-server/app/static/css/jquery.dataTables.min.css
  natlas-server/app/static/js/bootstrap.min.js
  natlas-server/app/static/js/jquery-3.3.1.min.js
  natlas-server/app/static/js/jquery.dataTables.min.js
  natlas-server/app/static/js/natlas-tagging.js
  natlas-server/app/static/js/natlas.js
  natlas-server/app/static/js/popper.min.js
  natlas-server/app/static/natlas.js
  natlas-server/app/static/natlas.scss
  natlas-server/app/static/util/system-status.ts
  natlas-server/app/static/util/version-check.ts
  natlas-server/app/static/util/xhr.ts
  natlas-server/app/static/webfonts/fa-brands-400.svg
  natlas-server/app/static/webfonts/fa-brands-400.ttf
  natlas-server/app/static/webfonts/fa-brands-400.woff
  natlas-server/app/static/webfonts/fa-brands-400.woff2
  natlas-server/app/static/webfonts/fa-regular-400.eot
  natlas-server/app/static/webfonts/fa-regular-400.svg
  natlas-server/app/static/webfonts/fa-regular-400.ttf
  natlas-server/app/static/webfonts/fa-regular-400.woff
  natlas-server/app/static/webfonts/fa-regular-400.woff2
  natlas-server/app/static/webfonts/fa-solid-900.eot
  natlas-server/app/static/webfonts/fa-solid-900.ttf
  natlas-server/app/static/webfonts/fa-solid-900.woff
  natlas-server/app/static/webfonts/fa-solid-900.woff2
  natlas-server/app/templates/admin/_tagmodal.html
  natlas-server/app/templates/admin/index.html
  natlas-server/app/templates/includes/scripts.html
  natlas-server/app/templates/includes/styles.html
  natlas-server/app/templates/main/status.html
  natlas-server/app/templates/user/profile.html
  natlas-server/config.py
  natlas-server/entrypoint.sh
  natlas-server/package.json
  natlas-server/requirements.txt
  natlas-server/setup-server.sh
  natlas-server/tsconfig.json
  natlas-server/webpack.config.js
  natlas-server/yarn.lock
Labels: dependencies, refactor, server

#258 Better, auto-refreshing system status
  .codeclimate.yml
  .flake8
  natlas-server/.scss-lint.yml
  natlas-server/app/api/routes.py
  natlas-server/app/scope/scope.py
  natlas-server/app/static/controls/natlas-tagging.ts
  natlas-server/app/static/controls/user-profile.ts
  natlas-server/app/static/css/status-page.scss
  natlas-server/app/static/natlas.js
  natlas-server/app/static/natlas.scss
  natlas-server/app/static/util/system-status.ts
  natlas-server/app/static/util/version-check.ts
  natlas-server/app/static/util/xhr.ts
  natlas-server/app/templates/main/status.html
  natlas-server/app/util.py
  natlas-server/package.json
  natlas-server/tslint.json
  natlas-server/yarn.lock
  spec/swagger.yaml
Labels: enhancement, server
