Repository natlas/natlas, pull requests merged in 2020-06, with the labels that each got.

#275 Docker - Don't specify base image minor versions
  natlas-agent/Dockerfile
  natlas-server/Dockerfile
Labels: dependencies

#281 Move to Docker-only
  docker-compose.yml
  natlas-agent/README.md
  natlas-agent/deployment/natlas-agent.service
  natlas-agent/setup-agent.sh
  natlas-server/README.md
  natlas-server/deployment/natlas-server.service
  natlas-server/run-server.sh
  natlas-server/setup-elastic.sh
  natlas-server/setup-server.sh
Labels: agent, server

#283 Add DataRequired validators to relevant fields
  natlas-server/app/admin/forms.py
Labels: server

#284 Secure defaults for login / agent auth
  natlas-server/README.md
  natlas-server/config.py
Labels: server

#282 Avoid landing on an empty search page. Fixes #267.
  natlas-server/app/main/routes.py
  natlas-server/app/templates/includes/nav.html
Labels: server

#286 Dependency upgrades
  docker-compose.yml
  natlas-agent/requirements.txt
  natlas-server/Dockerfile
  natlas-server/requirements.txt
Labels: agent, server

#295 Pipenv instead of requirements.txt
  docker-compose.yml
  natlas-agent/Dockerfile
  natlas-agent/Pipfile
  natlas-agent/Pipfile.lock
  natlas-agent/requirements.txt
  natlas-server/Dockerfile
  natlas-server/Pipfile
  natlas-server/Pipfile.lock
  natlas-server/requirements.txt
Labels: agent, dependencies, server

#296 Setup necessary seccomp config & document it. Closes #285.
  docker-compose.yml
  natlas-agent/.dockerignore
  natlas-agent/README.md
  natlas-agent/chrome.json
Labels: agent

#291 Refactoring & A New Invitation System
  natlas-server/README.md
  natlas-server/add-user.py
  natlas-server/app/__init__.py
  natlas-server/app/admin/forms.py
  natlas-server/app/admin/routes.py
  natlas-server/app/api/prepare_work.py
  natlas-server/app/api/routes.py
  natlas-server/app/auth/email.py
  natlas-server/app/auth/forms.py
  natlas-server/app/auth/routes.py
  natlas-server/app/auth/wrappers.py
  natlas-server/app/bootstrap.py
  natlas-server/app/host/routes.py
  natlas-server/app/main/routes.py
  natlas-server/app/models/__init__.py
  natlas-server/app/models/agent.py
  natlas-server/app/models/natlas_services.py
  natlas-server/app/models/token_validation.py
  natlas-server/app/models/user.py
  natlas-server/app/models/user_invitation.py
  natlas-server/app/templates/admin/index.html
  natlas-server/app/templates/auth/register.html
  natlas-server/app/templates/email/reset_password.txt
  natlas-server/app/user/routes.py
  natlas-server/app/util.py
  natlas-server/config.py
  natlas-server/defaults/db_configs.json
  natlas-server/entrypoint.sh
  natlas-server/migrations/env.py
  natlas-server/migrations/versions/6eb79ba67acb_better_invitations_and_resets.py
  natlas-server/natlas-server.py
Labels: enhancement, refactor, server

#300 Sourcery driven improvements
  natlas-agent/natlas-agent.py
  natlas-agent/natlas/net.py
  natlas-agent/natlas/utils.py
  natlas-server/add-scope.py
  natlas-server/add-user.py
  natlas-server/app/admin/routes.py
  natlas-server/app/host/routes.py
  natlas-server/app/host/summarizers.py
  natlas-server/app/models/scope_item.py
  natlas-server/app/models/user.py
  natlas-server/app/scope/cyclicprng.py
Labels: agent, refactor, server

#315 Fix OpenCensus bug in delete by query
  .circleci/config.yml
  docker-compose.yml
  natlas-server/.dockerignore
  natlas-server/Pipfile
  natlas-server/Pipfile.lock
  natlas-server/app/elastic/client.py
  natlas-server/tests/__init__.py
  natlas-server/tests/elastic/test_client.py
  natlas-server/tests/elastic/test_interface.py
Labels: bug, server

#322 Add some additional exclusions that aren't needed by the app container
  natlas-agent/.dockerignore
  natlas-server/.dockerignore
Labels: agent, server

#327 Fix agent_config url generation. Closes #325.
  natlas-server/app/admin/routes.py
Labels: bug, server
