Repository natlas/natlas, pull requests merged in 2020-07, with the labels that each got.

#318 Use natlas' libnmap instead of the unmaintained libnmap
  natlas-agent/Pipfile
  natlas-agent/Pipfile.lock
  natlas-server/Pipfile
  natlas-server/Pipfile.lock
Labels: agent, dependencies, security, server

#324 Fixes #323 by setting the token to the correct value in password rese…
  .circleci/config.yml
  natlas-server/Pipfile
  natlas-server/Pipfile.lock
  natlas-server/app/auth/routes.py
  natlas-server/app/models/user.py
  natlas-server/tests/config.py
  natlas-server/tests/conftest.py
  natlas-server/tests/email/test_send_mail.py
  natlas-server/tests/mock_webpack_manifest.json
Labels: server

#329 Instrument client-side JavaScript with Sentry
  natlas-server/README.md
  natlas-server/app/static/natlas.js
  natlas-server/app/static/util/error-tracking.ts
  natlas-server/app/static/util/version-check.ts
  natlas-server/app/templates/admin/services.html
  natlas-server/app/templates/includes/head.html
  natlas-server/config.py
  natlas-server/package.json
  natlas-server/tsconfig.json
  natlas-server/yarn.lock
Labels: server

#335 Add coverage for the ScopeItem model (implicit coverage of Tag model)
  natlas-server/tests/models/conftest.py
  natlas-server/tests/models/test_scope.py
Labels: server

#339 Make function returns explicit
  natlas-server/app/__init__.py
  natlas-server/app/admin/routes.py
  natlas-server/app/host/routes.py
Labels: refactor, server

#338 Fix file handles that don't get closed
  natlas-agent/natlas-agent.py
  natlas-agent/natlas/threadscan.py
  natlas-server/app/__init__.py
  natlas-server/config.py
Labels: agent, refactor, server

#345 Update packages, declare flask-sqlalchemy as a logical dependency
  natlas-server/Pipfile
  natlas-server/Pipfile.lock
Labels: dependencies, server

#337 Optional consistent scan cycle
  natlas-server/Pipfile
  natlas-server/Pipfile.lock
  natlas-server/README.md
  natlas-server/app/scope/cyclicprng.py
  natlas-server/app/scope/ipscanmanager.py
  natlas-server/app/scope/scope.py
  natlas-server/config.py
Labels: enhancement, server

#343 New landing page, prefers-color-scheme, prefers-reduced-motion
  .codeclimate.yml
  .pre-commit-config.yaml
  natlas-server/.scss-lint.yml
  natlas-server/.stylelintrc.yml
  natlas-server/app/auth/routes.py
  natlas-server/app/main/routes.py
  natlas-server/app/static/conf/particles.ts
  natlas-server/app/static/css/colors.scss
  natlas-server/app/static/css/components/backtotop.scss
  natlas-server/app/static/css/components/footer.scss
  natlas-server/app/static/css/components/header.scss
  natlas-server/app/static/css/components/host-row.scss
  natlas-server/app/static/css/components/screenshots.scss
  natlas-server/app/static/css/globals.scss
  natlas-server/app/static/css/pages/landing.scss
  natlas-server/app/static/css/pages/status.scss
  natlas-server/app/static/natlas.js
  natlas-server/app/static/natlas.scss
  natlas-server/app/static/pages/login.ts
  natlas-server/app/static/util/media-queries.ts
  natlas-server/app/templates/full.html
  natlas-server/app/templates/host/versions/0.6.10/_header.html
  natlas-server/app/templates/host/versions/0.6.10/_host-row-history.html
  natlas-server/app/templates/host/versions/0.6.10/_host-row.html
  natlas-server/app/templates/host/versions/0.6.10/history.html
  natlas-server/app/templates/host/versions/0.6.10/summary.html
  natlas-server/app/templates/includes/natlas-landing-logo.svg
  natlas-server/app/templates/main/_landing_login.html
  natlas-server/app/templates/main/index.html
  natlas-server/app/templates/user/profile.html
  natlas-server/package.json
  natlas-server/yarn.lock
Labels: enhancement, javascript, server

#350 Fix: references to function call for importing scope. Closes #349.
  natlas-server/add-scope.py
  natlas-server/app/admin/routes.py
Labels: server

#351 Fix: Significant performance improvements to ScopeManager
  natlas-server/Pipfile
  natlas-server/Pipfile.lock
  natlas-server/app/admin/routes.py
  natlas-server/app/api/prepare_work.py
  natlas-server/app/models/scope_item.py
  natlas-server/app/scope/__init__.py
  natlas-server/app/scope/scan_manager.py
  natlas-server/app/scope/scope_manager.py
  natlas-server/app/static/natlas.scss
  natlas-server/app/templates/admin/_scope_menu.html
  natlas-server/app/templates/admin/tags.html
  natlas-server/tests/scope/conftest.py
  natlas-server/tests/scope/test_scope_manager.py
Labels: performance, server

#348 Replaced particles.js with the lighter tsParticles
  .gitignore
  natlas-server/app/static/conf/particles.ts
  natlas-server/app/static/pages/login.ts
  natlas-server/app/templates/main/index.html
  natlas-server/package.json
  natlas-server/yarn.lock
Labels: dependencies, javascript, server

#354 Embed versions into the Webpack bundle
  natlas-server/app/static/util/version-check.ts
  natlas-server/app/templates/includes/scripts.html
  natlas-server/webpack.config.js
Labels: bug, server

#356 Fix: ipv6 related assumptions, agent support for ipv6 nmap addresses
  natlas-agent/natlas-agent.py
  natlas-agent/natlas/threadscan.py
  natlas-server/app/admin/forms.py
  natlas-server/app/admin/routes.py
  natlas-server/app/models/scope_item.py
  natlas-server/app/scope/scope_manager.py
  natlas-server/tests/models/test_scope.py
Labels: agent, enhancement, server

#364 Fix: xvfb-run negates the need to check for DISPLAY.
  natlas-agent/natlas/screenshots.py
Labels: agent

#363 Fixed version injection
  natlas-server/Dockerfile
  natlas-server/hooks/build
  natlas-server/webpack.config.js
Labels: server

#365 Fix: Rendering of vnc to not assume png
  natlas-server/app/filters.py
  natlas-server/app/templates/host/versions/0.6.10/_host-row.html
  natlas-server/app/templates/host/versions/0.6.10/screenshots.html
  natlas-server/app/templates/host/versions/0.6.7/_host-row.html
  natlas-server/app/templates/host/versions/0.6.7/screenshots.html
  natlas-server/app/templates/host/versions/0.6.8/_host-row.html
  natlas-server/app/templates/host/versions/0.6.8/screenshots.html
  natlas-server/app/templates/host/versions/0.6.9/_host-row.html
  natlas-server/app/templates/host/versions/0.6.9/screenshots.html
  natlas-server/app/templates/main/screenshots.html
Labels: server

#366 Fix: Raise elasticsearch.connectionerror correctly
  natlas-server/app/elastic/client.py
  natlas-server/app/errors/handlers.py
  natlas-server/app/templates/errors/503.html
Labels: server

#368 Change: Favor logger over print where available. Closes #67.
  natlas-server/app/__init__.py
Labels: server

#358 Metadata database can now be stored in mysql
  natlas-server/Dockerfile
  natlas-server/Pipfile
  natlas-server/Pipfile.lock
  natlas-server/README.md
  natlas-server/app/models/agent.py
  natlas-server/app/models/agent_script.py
  natlas-server/app/models/email_token.py
  natlas-server/app/models/rescan_task.py
  natlas-server/app/models/scope_item.py
  natlas-server/app/models/scope_log.py
  natlas-server/app/models/tag.py
  natlas-server/app/models/user_invitation.py
  natlas-server/config.py
  natlas-server/entrypoint.sh
  natlas-server/migrations/versions/09ac195ca9c7_better_agent_config_control.py
  natlas-server/migrations/versions/690687d71334_agent_tracking.py
  natlas-server/migrations/versions/6eb79ba67acb_better_invitations_and_resets.py
  natlas-server/migrations/versions/9b9fdebcdcb8_add_scopelogs_to_db.py
  natlas-server/migrations/versions/aeb6c660a13a_.py
  natlas-server/migrations/versions/b9aebd0a8593_rescantasks.py
  natlas-server/migrations/versions/e59d726ef9c1_scopetags.py
Labels: enhancement, server
